In [1]:
%load_ext sql
%sql postgresql://hr_user:hr_password@localhost:5432/hr_db
%sql SELECT current_database()

 * postgresql://hr_user:***@localhost:5432/hr_db
1 rows affected.

[('hr_db',)]

In [2]:
%%sql

SELECT employee_id, department_id, salary 
FROM employees 
ORDER BY department_id, salary
LIMIT 10

 * postgresql://hr_user:***@localhost:5432/hr_db
10 rows affected.

[(200, 10, Decimal('4400.00')),
 (202, 20, Decimal('6000.00')),
 (201, 20, Decimal('13000.00')),
 (119, 30, Decimal('2500.00')),
 (118, 30, Decimal('2600.00')),
 (117, 30, Decimal('2800.00')),
 (116, 30, Decimal('2900.00')),
 (115, 30, Decimal('3100.00')),
 (114, 30, Decimal('11000.00')),
 (203, 40, Decimal('6500.00'))]

In [4]:
%%sql
SELECT 
    department_id, sum(salary) as department_salary_expense
FROM
    employees
GROUP BY 
    department_id
ORDER BY
    department_id

 * postgresql://hr_user:***@localhost:5432/hr_db
12 rows affected.

[(10, Decimal('4400.00')),
 (20, Decimal('19000.00')),
 (30, Decimal('24900.00')),
 (40, Decimal('6500.00')),
 (50, Decimal('156400.00')),
 (60, Decimal('28800.00')),
 (70, Decimal('10000.00')),
 (80, Decimal('304500.00')),
 (90, Decimal('58000.00')),
 (100, Decimal('51600.00')),
 (110, Decimal('20300.00')),
 (None, Decimal('7000.00'))]

In [6]:
%%sql
SELECT * FROM employees LIMIT 10

 * postgresql://hr_user:***@localhost:5432/hr_db
10 rows affected.

[(100, 'Steven', 'King', 'SKING', '515.123.4567', datetime.date(1987, 6, 17), 'AD_PRES', Decimal('24000.00'), None, None, 90),
 (101, 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', datetime.date(1989, 9, 21), 'AD_VP', Decimal('17000.00'), None, 100, 90),
 (102, 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', datetime.date(1993, 1, 13), 'AD_VP', Decimal('17000.00'), None, 100, 90),
 (103, 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', datetime.date(1990, 1, 3), 'IT_PROG', Decimal('9000.00'), None, 102, 60),
 (104, 'Bruce', 'Ernst', 'BERNST', '590.423.4568', datetime.date(1991, 5, 21), 'IT_PROG', Decimal('6000.00'), None, 103, 60),
 (105, 'David', 'Austin', 'DAUSTIN', '590.423.4569', datetime.date(1997, 6, 25), 'IT_PROG', Decimal('4800.00'), None, 103, 60),
 (106, 'Valli', 'Pataballa', 'VPATABAL', '590.423.4560', datetime.date(1998, 2, 5), 'IT_PROG', Decimal('4800.00'), None, 103, 60),
 (107, 'Diana', 'Lorentz', 'DLORENTZ', '590.423.5567', datetime.date(1999, 2, 7), 'IT_PROG', Decimal('4200.00'), None, 103, 60),
 (108, 'Nancy', 'Greenberg', 'NGREENBE', '515.124.4569', datetime.date(1994, 8, 17), 'FI_MGR', Decimal('12000.00'), None, 101, 100),
 (109, 'Daniel', 'Faviet', 'DFAVIET', '515.124.4169', datetime.date(1994, 8, 16), 'FI_ACCOUNT', Decimal('9000.00'), None, 108, 100)]

In [24]:
%%sql
SELECT 
    e.employee_id, 
    e.department_id, e.salary, 
    ae.avg_salary_expense, 
    ae.department_salary_expense
FROM 
    employees e
JOIN
    (SELECT 
        department_id, 
        sum(salary) AS department_salary_expense,
        round(avg(salary)::numeric, 2) AS avg_salary_expense
    FROM 
        employees
    GROUP BY 
        department_id) ae
ON e.department_id = ae.department_id
ORDER BY department_id
LIMIT 10

 * postgresql://hr_user:***@localhost:5432/hr_db
10 rows affected.

[(200, 10, Decimal('4400.00'), Decimal('4400.00'), Decimal('4400.00')),
 (201, 20, Decimal('13000.00'), Decimal('9500.00'), Decimal('19000.00')),
 (202, 20, Decimal('6000.00'), Decimal('9500.00'), Decimal('19000.00')),
 (114, 30, Decimal('11000.00'), Decimal('4150.00'), Decimal('24900.00')),
 (115, 30, Decimal('3100.00'), Decimal('4150.00'), Decimal('24900.00')),
 (116, 30, Decimal('2900.00'), Decimal('4150.00'), Decimal('24900.00')),
 (117, 30, Decimal('2800.00'), Decimal('4150.00'), Decimal('24900.00')),
 (118, 30, Decimal('2600.00'), Decimal('4150.00'), Decimal('24900.00')),
 (119, 30, Decimal('2500.00'), Decimal('4150.00'), Decimal('24900.00')),
 (203, 40, Decimal('6500.00'), Decimal('6500.00'), Decimal('6500.00'))]

In [14]:
%%sql
SELECT 
    e.employee_id,
    e.department_id,
    e.salary,
    sum(e.salary) OVER (PARTITION BY e.department_id) AS department_salary_expense,
    round(avg_salary::numeric, 2) AS avg_salary_expense
FROM (
    SELECT 
        employee_id,
        department_id,
        salary,
        AVG(salary) OVER (PARTITION BY department_id) AS avg_salary
    FROM 
        employees
) e
ORDER BY 
    e.department_id
LIMIT 10;

 * postgresql://hr_user:***@localhost:5432/hr_db
10 rows affected.

[(200, 10, Decimal('4400.00'), Decimal('4400.00'), Decimal('4400.00')),
 (202, 20, Decimal('6000.00'), Decimal('19000.00'), Decimal('9500.00')),
 (201, 20, Decimal('13000.00'), Decimal('19000.00'), Decimal('9500.00')),
 (116, 30, Decimal('2900.00'), Decimal('24900.00'), Decimal('4150.00')),
 (119, 30, Decimal('2500.00'), Decimal('24900.00'), Decimal('4150.00')),
 (114, 30, Decimal('11000.00'), Decimal('24900.00'), Decimal('4150.00')),
 (115, 30, Decimal('3100.00'), Decimal('24900.00'), Decimal('4150.00')),
 (117, 30, Decimal('2800.00'), Decimal('24900.00'), Decimal('4150.00')),
 (118, 30, Decimal('2600.00'), Decimal('24900.00'), Decimal('4150.00')),
 (203, 40, Decimal('6500.00'), Decimal('6500.00'), Decimal('6500.00'))]

In [27]:
%%sql
SELECT 
    e.employee_id,
    e.department_id,
    e.salary,
    sum(e.salary) OVER (PARTITION BY e.department_id) AS department_salary_expense,
    round(avg(e.salary) OVER (PARTITION BY e.department_id), 2) AS avg_salary_expense
FROM employees e
ORDER BY 
    e.department_id
LIMIT 10;

 * postgresql://hr_user:***@localhost:5432/hr_db
10 rows affected.

[(200, 10, Decimal('4400.00'), Decimal('4400.00'), Decimal('4400.00')),
 (201, 20, Decimal('13000.00'), Decimal('19000.00'), Decimal('9500.00')),
 (202, 20, Decimal('6000.00'), Decimal('19000.00'), Decimal('9500.00')),
 (114, 30, Decimal('11000.00'), Decimal('24900.00'), Decimal('4150.00')),
 (115, 30, Decimal('3100.00'), Decimal('24900.00'), Decimal('4150.00')),
 (116, 30, Decimal('2900.00'), Decimal('24900.00'), Decimal('4150.00')),
 (117, 30, Decimal('2800.00'), Decimal('24900.00'), Decimal('4150.00')),
 (118, 30, Decimal('2600.00'), Decimal('24900.00'), Decimal('4150.00')),
 (119, 30, Decimal('2500.00'), Decimal('24900.00'), Decimal('4150.00')),
 (203, 40, Decimal('6500.00'), Decimal('6500.00'), Decimal('6500.00'))]

In [23]:
%%sql



SELECT e.employee_id, e.department_id, e.salary,
    sum(e.salary) OVER (
        PARTITION BY e.department_id
    ) AS sum_sal_expense,
    round(avg(e.salary) OVER (
        PARTITION BY e.department_id
    ), 2) AS avg_sal_expense,
    min(e.salary) OVER (
        PARTITION BY e.department_id
    ) AS min_sal_expense,
    max(e.salary) OVER (
        PARTITION BY e.department_id
    ) AS max_sal_expense,
    count(e.salary) OVER (
        PARTITION BY e.department_id
    ) AS cnt_sal_expense
FROM employees e
ORDER BY e.department_id,
    e.salary
LIMIT 10

 * postgresql://hr_user:***@localhost:5432/hr_db
10 rows affected.

[(200, 10, Decimal('4400.00'), Decimal('4400.00'), Decimal('4400.00'), Decimal('4400.00'), Decimal('4400.00'), 1),
 (202, 20, Decimal('6000.00'), Decimal('19000.00'), Decimal('9500.00'), Decimal('6000.00'), Decimal('13000.00'), 2),
 (201, 20, Decimal('13000.00'), Decimal('19000.00'), Decimal('9500.00'), Decimal('6000.00'), Decimal('13000.00'), 2),
 (119, 30, Decimal('2500.00'), Decimal('24900.00'), Decimal('4150.00'), Decimal('2500.00'), Decimal('11000.00'), 6),
 (118, 30, Decimal('2600.00'), Decimal('24900.00'), Decimal('4150.00'), Decimal('2500.00'), Decimal('11000.00'), 6),
 (117, 30, Decimal('2800.00'), Decimal('24900.00'), Decimal('4150.00'), Decimal('2500.00'), Decimal('11000.00'), 6),
 (116, 30, Decimal('2900.00'), Decimal('24900.00'), Decimal('4150.00'), Decimal('2500.00'), Decimal('11000.00'), 6),
 (115, 30, Decimal('3100.00'), Decimal('24900.00'), Decimal('4150.00'), Decimal('2500.00'), Decimal('11000.00'), 6),
 (114, 30, Decimal('11000.00'), Decimal('24900.00'), Decimal('4150.00'), Decimal('2500.00'), Decimal('11000.00'), 6),
 (203, 40, Decimal('6500.00'), Decimal('6500.00'), Decimal('6500.00'), Decimal('6500.00'), Decimal('6500.00'), 1)]

In [1]:
%load_ext sql
%sql postgresql://retail_user:retail_password@localhost:5432/retail_db
%sql SELECT current_database()

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[('retail_db',)]

In [12]:
%%sql
SELECT * FROM information_schema.tables where table_catalog ~ 'retail_db' AND table_schema ~ 'public'

 * postgresql://retail_user:***@localhost:5432/retail_db
13 rows affected.

[('retail_db', 'public', 'departments', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'categories', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'products', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'customers', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'orders', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'order_items', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'customer_order_metrics_mthly', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'customers_backup', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'customer_order_metrics_dly', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'daily_product_revenue', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'orders_v', 'VIEW', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'order_details_v', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)]

In [13]:
%%sql
SELECT * FROM daily_product_revenue LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, "O'Brien Men's Neoprene Life Vest", Decimal('2798.88')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, "Under Armour Girls' Toddler Spine Surge Runni", Decimal('1079.73')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99'))]

In [11]:
%%sql
CREATE TABLE 
    daily_product_revenue
AS
SELECT o.order_date,
    oi.order_item_product_id,
    p.product_name,
    round(sum(oi.order_item_subtotal::numeric), 2) AS product_revenue
FROM orders o 
    JOIN order_items oi
        ON o.order_id = oi.order_item_order_id
    JOIN products p
        ON p.product_id = oi.order_item_product_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY o.order_date,
    oi.order_item_product_id,
    p.product_name
ORDER BY o.order_date,
    product_revenue DESC

 * postgresql://retail_user:***@localhost:5432/retail_db
9120 rows affected.

[]

In [15]:
%%sql
SELECT 
    order_date,
    order_item_product_id,
    product_revenue,
    SUM(product_revenue) OVER (PARTITION BY order_date) as sum_revenue,
    MIN(product_revenue) OVER (PARTITION BY order_date) as min_revenue,
    MAX(product_revenue) OVER (PARTITION BY order_date) as max_revenue
FROM
    daily_product_revenue
ORDER BY
    order_date
LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, Decimal('5599.72'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, Decimal('5099.49'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, Decimal('4499.70'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, Decimal('3359.44'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, Decimal('2999.85'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, Decimal('2798.88'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, Decimal('1949.85'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, Decimal('1650.00'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, Decimal('1079.73'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, Decimal('599.99'), Decimal('31547.23'), Decimal('49.98'), Decimal('5599.72'))]

In [17]:
%%sql
SELECT * FROM customer_order_metrics_dly LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(6617, datetime.date(2013, 9, 10), 3, 449.95),
 (10717, datetime.date(2013, 9, 22), 5, 864.9),
 (11642, datetime.date(2013, 10, 7), 2, 379.89),
 (566, datetime.date(2013, 10, 28), 4, 395.92),
 (7281, datetime.date(2013, 10, 23), 5, 1065.91),
 (4257, datetime.date(2013, 10, 23), 5, 1579.9),
 (3552, datetime.date(2013, 9, 23), 1, 149.94),
 (5411, datetime.date(2013, 8, 15), 5, 1499.91),
 (2823, datetime.date(2013, 9, 1), 1, 499.95),
 (2734, datetime.date(2013, 10, 20), 2, 169.98)]

In [25]:
%%sql
SELECT 
    t.*,
    round(SUM(t.product_revenue) OVER (PARTITION BY to_char(order_date, 'YYYY-MM') 
                               ORDER BY order_date 
                               ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW),2) as cumulative_daily_revenue
FROM

    daily_product_revenue t
ORDER BY 
    to_char(order_date, 'YYYY-MM')
LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('5599.72'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49'), Decimal('10699.21')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70'), Decimal('15198.91')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44'), Decimal('18558.35')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85'), Decimal('21558.20')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, "O'Brien Men's Neoprene Life Vest", Decimal('2798.88'), Decimal('24357.08')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85'), Decimal('26306.93')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00'), Decimal('27956.93')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, "Under Armour Girls' Toddler Spine Surge Runni", Decimal('1079.73'), Decimal('29036.66')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99'), Decimal('29636.65'))]

In [24]:
%%sql

SELECT t.*,
    round(sum(t.product_revenue) OVER (
        ORDER BY order_date
        ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
    ), 2) AS moving_3day_revenue
FROM daily_product_revenue t
ORDER BY order_date
LIMIT 20

 * postgresql://retail_user:***@localhost:5432/retail_db
20 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('5599.72'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49'), Decimal('10699.21')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70'), Decimal('15198.91')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44'), Decimal('12958.63')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85'), Decimal('10858.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, "O'Brien Men's Neoprene Life Vest", Decimal('2798.88'), Decimal('9158.17')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85'), Decimal('7748.58')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00'), Decimal('6398.73')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, "Under Armour Girls' Toddler Spine Surge Runni", Decimal('1079.73'), Decimal('4679.58')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99'), Decimal('3329.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 24, 'Elevation Training Mask 2.0', Decimal('319.96'), Decimal('1999.68')),
 (datetime.datetime(2013, 7, 25, 0, 0), 821, 'Titleist Pro V1 High Numbers Personalized Gol', Decimal('207.96'), Decimal('1127.91')),
 (datetime.datetime(2013, 7, 25, 0, 0), 625, "Nike Men's Kobe IX Elite Low Basketball Shoe", Decimal('199.99'), Decimal('727.91')),
 (datetime.datetime(2013, 7, 25, 0, 0), 705, "Cleveland Golf Women's 588 RTX CB Satin Chrom", Decimal('119.99'), Decimal('527.94')),
 (datetime.datetime(2013, 7, 25, 0, 0), 572, "TYR Boys' Team Digi Jammer", Decimal('119.97'), Decimal('439.95')),
 (datetime.datetime(2013, 7, 25, 0, 0), 666, "Merrell Men's All Out Flash Trail Running Sho", Decimal('109.99'), Decimal('349.95')),
 (datetime.datetime(2013, 7, 25, 0, 0), 725, "LIJA Women's Button Golf Dress", Decimal('108.00'), Decimal('337.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 134, "Nike Women's Legend V-Neck T-Shirt", Decimal('100.00'), Decimal('317.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 906, 'Team Golf Tennessee Volunteers Putter Grip', Decimal('99.96'), Decimal('307.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 828, 'Bridgestone e6 Straight Distance NFL San Dieg', Decimal('95.97'), Decimal('295.93'))]

In [26]:
%%sql

SELECT t.*,
    round(sum(t.product_revenue) OVER (
        ORDER BY order_date
        ROWS BETWEEN 2 PRECEDING AND 2 FOLLOWING
    ), 2) AS moving_3day_revenue
FROM daily_product_revenue t
ORDER BY order_date
LIMIT 20

 * postgresql://retail_user:***@localhost:5432/retail_db
20 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('5599.72'), Decimal('15198.91')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49'), Decimal('18558.35')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70'), Decimal('21558.20')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44'), Decimal('18757.36')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85'), Decimal('15607.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, "O'Brien Men's Neoprene Life Vest", Decimal('2798.88'), Decimal('12758.02')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85'), Decimal('10478.31')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00'), Decimal('8078.45')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, "Under Armour Girls' Toddler Spine Surge Runni", Decimal('1079.73'), Decimal('5599.53')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99'), Decimal('3857.64')),
 (datetime.datetime(2013, 7, 25, 0, 0), 24, 'Elevation Training Mask 2.0', Decimal('319.96'), Decimal('2407.63')),
 (datetime.datetime(2013, 7, 25, 0, 0), 821, 'Titleist Pro V1 High Numbers Personalized Gol', Decimal('207.96'), Decimal('1447.89')),
 (datetime.datetime(2013, 7, 25, 0, 0), 625, "Nike Men's Kobe IX Elite Low Basketball Shoe", Decimal('199.99'), Decimal('967.87')),
 (datetime.datetime(2013, 7, 25, 0, 0), 705, "Cleveland Golf Women's 588 RTX CB Satin Chrom", Decimal('119.99'), Decimal('757.90')),
 (datetime.datetime(2013, 7, 25, 0, 0), 572, "TYR Boys' Team Digi Jammer", Decimal('119.97'), Decimal('657.94')),
 (datetime.datetime(2013, 7, 25, 0, 0), 666, "Merrell Men's All Out Flash Trail Running Sho", Decimal('109.99'), Decimal('557.95')),
 (datetime.datetime(2013, 7, 25, 0, 0), 725, "LIJA Women's Button Golf Dress", Decimal('108.00'), Decimal('537.92')),
 (datetime.datetime(2013, 7, 25, 0, 0), 134, "Nike Women's Legend V-Neck T-Shirt", Decimal('100.00'), Decimal('513.92')),
 (datetime.datetime(2013, 7, 25, 0, 0), 906, 'Team Golf Tennessee Volunteers Putter Grip', Decimal('99.96'), Decimal('483.89')),
 (datetime.datetime(2013, 7, 25, 0, 0), 828, 'Bridgestone e6 Straight Distance NFL San Dieg', Decimal('95.97'), Decimal('455.84'))]

In [28]:
%%sql
SELECT * FROM daily_product_revenue Limit 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, "O'Brien Men's Neoprene Life Vest", Decimal('2798.88')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, "Under Armour Girls' Toddler Spine Surge Runni", Decimal('1079.73')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99'))]

In [31]:
%%sql
SELECT 
    t.*,
    lead(order_date) OVER (ORDER BY order_date) AS prior_date,
    lead(product_revenue) OVER (ORDER BY order_date DESC) as prior_revenue,
    lag(order_date) OVER (ORDER BY order_date) AS lag_prior_date,
    lag(product_revenue) OVER (ORDER BY order_date) AS lag_prior_revenue
FROM daily_product_revenue t
ORDER BY order_date
LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 897, 'Team Golf New England Patriots Putter Grip', Decimal('49.98'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('99.96'), None, None),
 (datetime.datetime(2013, 7, 25, 0, 0), 906, 'Team Golf Tennessee Volunteers Putter Grip', Decimal('99.96'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('63.98'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('49.98')),
 (datetime.datetime(2013, 7, 25, 0, 0), 835, 'Bridgestone e6 Straight Distance NFL Carolina', Decimal('63.98'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('5599.72'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('99.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('5599.72'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('79.95'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('63.98')),
 (datetime.datetime(2013, 7, 25, 0, 0), 924, 'Glove It Urban Brick Golf Towel', Decimal('79.95'), datetime.datetime(2013, 7, 25, 0, 0), None, datetime.datetime(2013, 7, 25, 0, 0), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('79.95'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('79.95')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('2999.85'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('2999.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('3359.44'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('3359.44')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, "Under Armour Girls' Toddler Spine Surge Runni", Decimal('1079.73'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('599.99'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('4499.70')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('4499.70'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('1079.73'))]

In [34]:
%%sql

SELECT t.*,
    lead(order_date, 7) OVER (ORDER BY order_date DESC) AS prior_date,
    lead(product_revenue, 7, 0.0) OVER (ORDER BY order_date DESC) AS prior_revenue
FROM daily_product_revenue t
ORDER BY order_date
LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 926, 'Glove It Imperial Golf Towel', Decimal('79.95'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('100.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('199.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('1650.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('599.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, "O'Brien Men's Neoprene Life Vest", Decimal('2798.88'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('319.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 810, "Glove It Women's Mod Oval Golf Glove", Decimal('79.96'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('207.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 93, "Under Armour Men's Tech II T-Shirt", Decimal('74.97'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('79.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('1949.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('1079.73')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00'), datetime.datetime(2013, 7, 25, 0, 0), Decimal('108.00'))]

In [40]:
%%sql

SELECT t.*,
    LEAD(order_item_product_id) OVER (
        PARTITION BY order_date 
        ORDER BY product_revenue DESC
    ) next_product_id,
    LEAD(product_revenue) OVER (
        PARTITION BY order_date 
        ORDER BY product_revenue DESC
    ) next_revenue
FROM daily_product_revenue t

LIMIT 30

 * postgresql://retail_user:***@localhost:5432/retail_db
30 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('5599.72'), 191, Decimal('5099.49')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49'), 957, Decimal('4499.70')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70'), 365, Decimal('3359.44')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44'), 1073, Decimal('2999.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85'), 1014, Decimal('2798.88')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, "O'Brien Men's Neoprene Life Vest", Decimal('2798.88'), 403, Decimal('1949.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85'), 502, Decimal('1650.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00'), 627, Decimal('1079.73')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, "Under Armour Girls' Toddler Spine Surge Runni", Decimal('1079.73'), 226, Decimal('599.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99'), 24, Decimal('319.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 24, 'Elevation Training Mask 2.0', Decimal('319.96'), 821, Decimal('207.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 821, 'Titleist Pro V1 High Numbers Personalized Gol', Decimal('207.96'), 625, Decimal('199.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 625, "Nike Men's Kobe IX Elite Low Basketball Shoe", Decimal('199.99'), 705, Decimal('119.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 705, "Cleveland Golf Women's 588 RTX CB Satin Chrom", Decimal('119.99'), 572, Decimal('119.97')),
 (datetime.datetime(2013, 7, 25, 0, 0), 572, "TYR Boys' Team Digi Jammer", Decimal('119.97'), 666, Decimal('109.99')),
 (datetime.datetime(2013, 7, 25, 0, 0), 666, "Merrell Men's All Out Flash Trail Running Sho", Decimal('109.99'), 725, Decimal('108.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 725, "LIJA Women's Button Golf Dress", Decimal('108.00'), 134, Decimal('100.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 134, "Nike Women's Legend V-Neck T-Shirt", Decimal('100.00'), 906, Decimal('99.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 906, 'Team Golf Tennessee Volunteers Putter Grip', Decimal('99.96'), 828, Decimal('95.97')),
 (datetime.datetime(2013, 7, 25, 0, 0), 828, 'Bridgestone e6 Straight Distance NFL San Dieg', Decimal('95.97'), 810, Decimal('79.96')),
 (datetime.datetime(2013, 7, 25, 0, 0), 810, "Glove It Women's Mod Oval Golf Glove", Decimal('79.96'), 926, Decimal('79.95')),
 (datetime.datetime(2013, 7, 25, 0, 0), 926, 'Glove It Imperial Golf Towel', Decimal('79.95'), 924, Decimal('79.95')),
 (datetime.datetime(2013, 7, 25, 0, 0), 924, 'Glove It Urban Brick Golf Towel', Decimal('79.95'), 93, Decimal('74.97')),
 (datetime.datetime(2013, 7, 25, 0, 0), 93, "Under Armour Men's Tech II T-Shirt", Decimal('74.97'), 835, Decimal('63.98')),
 (datetime.datetime(2013, 7, 25, 0, 0), 835, 'Bridgestone e6 Straight Distance NFL Carolina', Decimal('63.98'), 897, Decimal('49.98')),
 (datetime.datetime(2013, 7, 25, 0, 0), 897, 'Team Golf New England Patriots Putter Grip', Decimal('49.98'), None, None),
 (datetime.datetime(2013, 7, 26, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('10799.46'), 365, Decimal('7978.67')),
 (datetime.datetime(2013, 7, 26, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('7978.67'), 957, Decimal('6899.54')),
 (datetime.datetime(2013, 7, 26, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('6899.54'), 191, Decimal('6799.32')),
 (datetime.datetime(2013, 7, 26, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('6799.32'), 1014, Decimal('4798.08'))]

In [43]:
%%sql

SELECT t.*,
    first_value(order_item_product_id) OVER (
        PARTITION BY order_date ORDER BY product_revenue DESC
    ) first_product_id,
    first_value(product_revenue) OVER (
        PARTITION BY order_date ORDER BY product_revenue DESC
    ) first_revenue,
    max(product_revenue) OVER (
        PARTITION BY order_date
    ) max_revenue
FROM daily_product_revenue t
ORDER BY order_date, product_revenue DESC
LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('5599.72'), 1004, Decimal('5599.72'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49'), 1004, Decimal('5599.72'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70'), 1004, Decimal('5599.72'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44'), 1004, Decimal('5599.72'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85'), 1004, Decimal('5599.72'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, "O'Brien Men's Neoprene Life Vest", Decimal('2798.88'), 1004, Decimal('5599.72'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85'), 1004, Decimal('5599.72'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00'), 1004, Decimal('5599.72'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, "Under Armour Girls' Toddler Spine Surge Runni", Decimal('1079.73'), 1004, Decimal('5599.72'), Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99'), 1004, Decimal('5599.72'), Decimal('5599.72'))]

In [44]:
%%sql

SELECT t.*,
    last_value(order_item_product_id) OVER (
        PARTITION BY order_date ORDER BY product_revenue    
        ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING
    ) last_product_id,
    max(product_revenue) OVER (
        PARTITION BY order_date
    ) last_revenue
FROM daily_product_revenue AS t
ORDER BY order_date, product_revenue DESC
LIMIT 30

 * postgresql://retail_user:***@localhost:5432/retail_db
30 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('5599.72'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, "O'Brien Men's Neoprene Life Vest", Decimal('2798.88'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, "Under Armour Girls' Toddler Spine Surge Runni", Decimal('1079.73'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 24, 'Elevation Training Mask 2.0', Decimal('319.96'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 821, 'Titleist Pro V1 High Numbers Personalized Gol', Decimal('207.96'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 625, "Nike Men's Kobe IX Elite Low Basketball Shoe", Decimal('199.99'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 705, "Cleveland Golf Women's 588 RTX CB Satin Chrom", Decimal('119.99'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 572, "TYR Boys' Team Digi Jammer", Decimal('119.97'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 666, "Merrell Men's All Out Flash Trail Running Sho", Decimal('109.99'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 725, "LIJA Women's Button Golf Dress", Decimal('108.00'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 134, "Nike Women's Legend V-Neck T-Shirt", Decimal('100.00'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 906, 'Team Golf Tennessee Volunteers Putter Grip', Decimal('99.96'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 828, 'Bridgestone e6 Straight Distance NFL San Dieg', Decimal('95.97'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 810, "Glove It Women's Mod Oval Golf Glove", Decimal('79.96'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 924, 'Glove It Urban Brick Golf Towel', Decimal('79.95'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 926, 'Glove It Imperial Golf Towel', Decimal('79.95'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 93, "Under Armour Men's Tech II T-Shirt", Decimal('74.97'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 835, 'Bridgestone e6 Straight Distance NFL Carolina', Decimal('63.98'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 897, 'Team Golf New England Patriots Putter Grip', Decimal('49.98'), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 26, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('10799.46'), 1004, Decimal('10799.46')),
 (datetime.datetime(2013, 7, 26, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('7978.67'), 1004, Decimal('10799.46')),
 (datetime.datetime(2013, 7, 26, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('6899.54'), 1004, Decimal('10799.46')),
 (datetime.datetime(2013, 7, 26, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('6799.32'), 1004, Decimal('10799.46'))]

In [47]:
%%sql
SELECT 
    t.*,
    rank() OVER (PARTITION BY order_date ORDER BY product_revenue DESC) as rnk
FROM
    daily_product_revenue t
ORDER BY
    order_date, product_revenue DESC
LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('5599.72'), 1),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49'), 2),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70'), 3),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44'), 4),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85'), 5),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, "O'Brien Men's Neoprene Life Vest", Decimal('2798.88'), 6),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85'), 7),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00'), 8),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, "Under Armour Girls' Toddler Spine Surge Runni", Decimal('1079.73'), 9),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99'), 10)]

In [51]:
%%sql
SELECT 
    t.*,
    row_number() OVER (PARTITION BY order_date ORDER BY product_revenue DESC) as row_num,
    rank() OVER (PARTITION BY order_date ORDER BY product_revenue DESC) as rnk,
    dense_rank() OVER (PARTITION BY order_date ORDER BY product_revenue DESC) as dn_rnk
FROM 
    daily_product_revenue t
ORDER BY
    order_date, product_revenue DESC
LIMIT 30

 * postgresql://retail_user:***@localhost:5432/retail_db
30 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('5599.72'), 1, 1, 1),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49'), 2, 2, 2),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70'), 3, 3, 3),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44'), 4, 4, 4),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85'), 5, 5, 5),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, "O'Brien Men's Neoprene Life Vest", Decimal('2798.88'), 6, 6, 6),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('1949.85'), 7, 7, 7),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('1650.00'), 8, 8, 8),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, "Under Armour Girls' Toddler Spine Surge Runni", Decimal('1079.73'), 9, 9, 9),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, 'Bowflex SelectTech 1090 Dumbbells', Decimal('599.99'), 10, 10, 10),
 (datetime.datetime(2013, 7, 25, 0, 0), 24, 'Elevation Training Mask 2.0', Decimal('319.96'), 11, 11, 11),
 (datetime.datetime(2013, 7, 25, 0, 0), 821, 'Titleist Pro V1 High Numbers Personalized Gol', Decimal('207.96'), 12, 12, 12),
 (datetime.datetime(2013, 7, 25, 0, 0), 625, "Nike Men's Kobe IX Elite Low Basketball Shoe", Decimal('199.99'), 13, 13, 13),
 (datetime.datetime(2013, 7, 25, 0, 0), 705, "Cleveland Golf Women's 588 RTX CB Satin Chrom", Decimal('119.99'), 14, 14, 14),
 (datetime.datetime(2013, 7, 25, 0, 0), 572, "TYR Boys' Team Digi Jammer", Decimal('119.97'), 15, 15, 15),
 (datetime.datetime(2013, 7, 25, 0, 0), 666, "Merrell Men's All Out Flash Trail Running Sho", Decimal('109.99'), 16, 16, 16),
 (datetime.datetime(2013, 7, 25, 0, 0), 725, "LIJA Women's Button Golf Dress", Decimal('108.00'), 17, 17, 17),
 (datetime.datetime(2013, 7, 25, 0, 0), 134, "Nike Women's Legend V-Neck T-Shirt", Decimal('100.00'), 18, 18, 18),
 (datetime.datetime(2013, 7, 25, 0, 0), 906, 'Team Golf Tennessee Volunteers Putter Grip', Decimal('99.96'), 19, 19, 19),
 (datetime.datetime(2013, 7, 25, 0, 0), 828, 'Bridgestone e6 Straight Distance NFL San Dieg', Decimal('95.97'), 20, 20, 20),
 (datetime.datetime(2013, 7, 25, 0, 0), 810, "Glove It Women's Mod Oval Golf Glove", Decimal('79.96'), 21, 21, 21),
 (datetime.datetime(2013, 7, 25, 0, 0), 926, 'Glove It Imperial Golf Towel', Decimal('79.95'), 22, 22, 22),
 (datetime.datetime(2013, 7, 25, 0, 0), 924, 'Glove It Urban Brick Golf Towel', Decimal('79.95'), 23, 22, 22),
 (datetime.datetime(2013, 7, 25, 0, 0), 93, "Under Armour Men's Tech II T-Shirt", Decimal('74.97'), 24, 24, 23),
 (datetime.datetime(2013, 7, 25, 0, 0), 835, 'Bridgestone e6 Straight Distance NFL Carolina', Decimal('63.98'), 25, 25, 24),
 (datetime.datetime(2013, 7, 25, 0, 0), 897, 'Team Golf New England Patriots Putter Grip', Decimal('49.98'), 26, 26, 25),
 (datetime.datetime(2013, 7, 26, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('10799.46'), 1, 1, 1),
 (datetime.datetime(2013, 7, 26, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('7978.67'), 2, 2, 2),
 (datetime.datetime(2013, 7, 26, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('6899.54'), 3, 3, 3),
 (datetime.datetime(2013, 7, 26, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('6799.32'), 4, 4, 4)]

In [52]:
%%sql

SELECT * FROM (
  SELECT t.*,
    dense_rank() OVER (
      PARTITION BY order_date
      ORDER BY product_revenue DESC
    ) AS drnk
  FROM daily_product_revenue t
) q
WHERE q.drnk <= 5
ORDER BY q.order_date, q.product_revenue DESC
LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('5599.72'), 1),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('5099.49'), 2),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('4499.70'), 3),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('3359.44'), 4),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, 'Pelican Sunstream 100 Kayak', Decimal('2999.85'), 5),
 (datetime.datetime(2013, 7, 26, 0, 0), 1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('10799.46'), 1),
 (datetime.datetime(2013, 7, 26, 0, 0), 365, 'Perfect Fitness Perfect Rip Deck', Decimal('7978.67'), 2),
 (datetime.datetime(2013, 7, 26, 0, 0), 957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('6899.54'), 3),
 (datetime.datetime(2013, 7, 26, 0, 0), 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('6799.32'), 4),
 (datetime.datetime(2013, 7, 26, 0, 0), 1014, "O'Brien Men's Neoprene Life Vest", Decimal('4798.08'), 5)]

### EXERCISE 1
Get all the employees who is making more than average salary with in each department.

Use HR database employees and department tables for this problem.

Compute average salary expense for each department and get those employee details who are making more salary than average salary.

Make sure average salary expense per department is rounded off to 2 decimals.

Output should contain employee_id, department_name, salary and avg_salary_expense (derived field).

Data should be sorted in ascending order by department_id and descending order by salary.

In [53]:
%load_ext sql
%sql postgresql://hr_user:hr_password@localhost:5432/hr_db
%sql SELECT current_database()

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * postgresql://hr_user:***@localhost:5432/hr_db
   postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[('hr_db',)]

In [74]:
%%sql
SELECT * FROM employees LIMIT 10

 * postgresql://hr_user:***@localhost:5432/hr_db
   postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(100, 'Steven', 'King', 'SKING', '515.123.4567', datetime.date(1987, 6, 17), 'AD_PRES', Decimal('24000.00'), None, None, 90),
 (101, 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', datetime.date(1989, 9, 21), 'AD_VP', Decimal('17000.00'), None, 100, 90),
 (102, 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', datetime.date(1993, 1, 13), 'AD_VP', Decimal('17000.00'), None, 100, 90),
 (103, 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', datetime.date(1990, 1, 3), 'IT_PROG', Decimal('9000.00'), None, 102, 60),
 (104, 'Bruce', 'Ernst', 'BERNST', '590.423.4568', datetime.date(1991, 5, 21), 'IT_PROG', Decimal('6000.00'), None, 103, 60),
 (105, 'David', 'Austin', 'DAUSTIN', '590.423.4569', datetime.date(1997, 6, 25), 'IT_PROG', Decimal('4800.00'), None, 103, 60),
 (106, 'Valli', 'Pataballa', 'VPATABAL', '590.423.4560', datetime.date(1998, 2, 5), 'IT_PROG', Decimal('4800.00'), None, 103, 60),
 (107, 'Diana', 'Lorentz', 'DLORENTZ', '590.423.5567', datetime.date(1999, 2, 7), 'IT_PROG', Decimal('4200.00'), None, 103, 60),
 (108, 'Nancy', 'Greenberg', 'NGREENBE', '515.124.4569', datetime.date(1994, 8, 17), 'FI_MGR', Decimal('12000.00'), None, 101, 100),
 (109, 'Daniel', 'Faviet', 'DFAVIET', '515.124.4169', datetime.date(1994, 8, 16), 'FI_ACCOUNT', Decimal('9000.00'), None, 108, 100)]

In [55]:
%%sql
SELECT * FROM departments LIMIT 10

 * postgresql://hr_user:***@localhost:5432/hr_db
   postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(120, 'Treasury', None, 1700),
 (130, 'Corporate Tax', None, 1700),
 (140, 'Control And Credit', None, 1700),
 (150, 'Shareholder Services', None, 1700),
 (160, 'Benefits', None, 1700),
 (170, 'Manufacturing', None, 1700),
 (180, 'Construction', None, 1700),
 (190, 'Contracting', None, 1700),
 (200, 'Operations', None, 1700),
 (210, 'IT Support', None, 1700)]

In [65]:
%%sql
SELECT COUNT(*) as counting FROM employees e JOIN departments d ON e.department_id = d.department_id

 * postgresql://hr_user:***@localhost:5432/hr_db
   postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(106,)]

In [71]:
%%sql
SELECT e.*
FROM employees e
WHERE e.department_id NOT IN (SELECT department_id FROM departments);

 * postgresql://hr_user:***@localhost:5432/hr_db
   postgresql://retail_user:***@localhost:5432/retail_db
0 rows affected.

[]

In [73]:
%%sql
SELECT e.*
FROM employees e
WHERE NOT EXISTS (
    SELECT 1 
    FROM departments d 
    WHERE d.department_id = e.department_id
);

 * postgresql://hr_user:***@localhost:5432/hr_db
   postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(178, 'Kimberely', 'Grant', 'KGRANT', '011.44.1644.429263', datetime.date(1999, 5, 24), 'SA_REP', Decimal('7000.00'), Decimal('0.15'), 149, None)]

In [81]:
%%sql
SELECT * FROM 
(SELECT e.employee_id, d.department_name,e.salary,
 round(avg(salary) OVER (PARTITION BY e.department_id ORDER BY e.salary),2) as avg_salary
 FROM employees e JOIN departments d ON e.department_id = d.department_id) nq
WHERE nq.salary > nq.avg_salary

 * postgresql://hr_user:***@localhost:5432/hr_db
   postgresql://retail_user:***@localhost:5432/retail_db
94 rows affected.

[(201, 'Marketing', Decimal('13000.00'), Decimal('9500.00')),
 (118, 'Purchasing', Decimal('2600.00'), Decimal('2550.00')),
 (117, 'Purchasing', Decimal('2800.00'), Decimal('2633.33')),
 (116, 'Purchasing', Decimal('2900.00'), Decimal('2700.00')),
 (115, 'Purchasing', Decimal('3100.00'), Decimal('2780.00')),
 (114, 'Purchasing', Decimal('11000.00'), Decimal('4150.00')),
 (136, 'Shipping', Decimal('2200.00'), Decimal('2166.67')),
 (128, 'Shipping', Decimal('2200.00'), Decimal('2166.67')),
 (135, 'Shipping', Decimal('2400.00'), Decimal('2260.00')),
 (127, 'Shipping', Decimal('2400.00'), Decimal('2260.00')),
 (140, 'Shipping', Decimal('2500.00'), Decimal('2380.00')),
 (131, 'Shipping', Decimal('2500.00'), Decimal('2380.00')),
 (144, 'Shipping', Decimal('2500.00'), Decimal('2380.00')),
 (191, 'Shipping', Decimal('2500.00'), Decimal('2380.00')),
 (182, 'Shipping', Decimal('2500.00'), Decimal('2380.00')),
 (143, 'Shipping', Decimal('2600.00'), Decimal('2430.77')),
 (199, 'Shipping', Decimal('2600.00'), Decimal('2430.77')),
 (198, 'Shipping', Decimal('2600.00'), Decimal('2430.77')),
 (126, 'Shipping', Decimal('2700.00'), Decimal('2466.67')),
 (139, 'Shipping', Decimal('2700.00'), Decimal('2466.67')),
 (183, 'Shipping', Decimal('2800.00'), Decimal('2522.22')),
 (130, 'Shipping', Decimal('2800.00'), Decimal('2522.22')),
 (195, 'Shipping', Decimal('2800.00'), Decimal('2522.22')),
 (134, 'Shipping', Decimal('2900.00'), Decimal('2560.00')),
 (190, 'Shipping', Decimal('2900.00'), Decimal('2560.00')),
 (187, 'Shipping', Decimal('3000.00'), Decimal('2600.00')),
 (197, 'Shipping', Decimal('3000.00'), Decimal('2600.00')),
 (196, 'Shipping', Decimal('3100.00'), Decimal('2660.00')),
 (181, 'Shipping', Decimal('3100.00'), Decimal('2660.00')),
 (142, 'Shipping', Decimal('3100.00'), Decimal('2660.00')),
 (125, 'Shipping', Decimal('3200.00'), Decimal('2734.48')),
 (138, 'Shipping', Decimal('3200.00'), Decimal('2734.48')),
 (180, 'Shipping', Decimal('3200.00'), Decimal('2734.48')),
 (194, 'Shipping', Decimal('3200.00'), Decimal('2734.48')),
 (133, 'Shipping', Decimal('3300.00'), Decimal('2770.97')),
 (129, 'Shipping', Decimal('3300.00'), Decimal('2770.97')),
 (186, 'Shipping', Decimal('3400.00'), Decimal('2790.63')),
 (141, 'Shipping', Decimal('3500.00'), Decimal('2812.12')),
 (189, 'Shipping', Decimal('3600.00'), Decimal('2857.14')),
 (137, 'Shipping', Decimal('3600.00'), Decimal('2857.14')),
 (188, 'Shipping', Decimal('3800.00'), Decimal('2883.33')),
 (193, 'Shipping', Decimal('3900.00'), Decimal('2910.81')),
 (192, 'Shipping', Decimal('4000.00'), Decimal('2939.47')),
 (185, 'Shipping', Decimal('4100.00'), Decimal('2969.23')),
 (184, 'Shipping', Decimal('4200.00'), Decimal('3000.00')),
 (124, 'Shipping', Decimal('5800.00'), Decimal('3068.29')),
 (123, 'Shipping', Decimal('6500.00'), Decimal('3150.00')),
 (122, 'Shipping', Decimal('7900.00'), Decimal('3260.47')),
 (120, 'Shipping', Decimal('8000.00'), Decimal('3368.18')),
 (121, 'Shipping', Decimal('8200.00'), Decimal('3475.56')),
 (106, 'IT', Decimal('4800.00'), Decimal('4600.00')),
 (105, 'IT', Decimal('4800.00'), Decimal('4600.00')),
 (104, 'IT', Decimal('6000.00'), Decimal('4950.00')),
 (103, 'IT', Decimal('9000.00'), Decimal('5760.00')),
 (179, 'Sales', Decimal('6200.00'), Decimal('6166.67')),
 (167, 'Sales', Decimal('6200.00'), Decimal('6166.67')),
 (166, 'Sales', Decimal('6400.00'), Decimal('6225.00')),
 (165, 'Sales', Decimal('6800.00'), Decimal('6340.00')),
 (161, 'Sales', Decimal('7000.00'), Decimal('6528.57')),
 (155, 'Sales', Decimal('7000.00'), Decimal('6528.57')),
 (164, 'Sales', Decimal('7200.00'), Decimal('6612.50')),
 (172, 'Sales', Decimal('7300.00'), Decimal('6688.89')),
 (171, 'Sales', Decimal('7400.00'), Decimal('6760.00')),
 (154, 'Sales', Decimal('7500.00'), Decimal('6883.33')),
 (160, 'Sales', Decimal('7500.00'), Decimal('6883.33')),
 (159, 'Sales', Decimal('8000.00'), Decimal('7042.86')),
 (153, 'Sales', Decimal('8000.00'), Decimal('7042.86')),
 (177, 'Sales', Decimal('8400.00'), Decimal('7133.33')),
 (176, 'Sales', Decimal('8600.00'), Decimal('7225.00')),
 (175, 'Sales', Decimal('8800.00'), Decimal('7317.65')),
 (152, 'Sales', Decimal('9000.00'), Decimal('7494.74')),
 (158, 'Sales', Decimal('9000.00'), Decimal('7494.74')),
 (157, 'Sales', Decimal('9500.00'), Decimal('7768.18')),
 (163, 'Sales', Decimal('9500.00'), Decimal('7768.18')),
 (151, 'Sales', Decimal('9500.00'), Decimal('7768.18')),
 (170, 'Sales', Decimal('9600.00'), Decimal('7847.83')),
 (150, 'Sales', Decimal('10000.00'), Decimal('8096.15')),
 (156, 'Sales', Decimal('10000.00'), Decimal('8096.15')),
 (169, 'Sales', Decimal('10000.00'), Decimal('8096.15')),
 (162, 'Sales', Decimal('10500.00'), Decimal('8267.86')),
 (149, 'Sales', Decimal('10500.00'), Decimal('8267.86')),
 (148, 'Sales', Decimal('11000.00'), Decimal('8450.00')),
 (174, 'Sales', Decimal('11000.00'), Decimal('8450.00')),
 (168, 'Sales', Decimal('11500.00'), Decimal('8548.39')),
 (147, 'Sales', Decimal('12000.00'), Decimal('8656.25')),
 (146, 'Sales', Decimal('13500.00'), Decimal('8803.03')),
 (145, 'Sales', Decimal('14000.00'), Decimal('8955.88')),
 (100, 'Executive', Decimal('24000.00'), Decimal('19333.33')),
 (111, 'Finance', Decimal('7700.00'), Decimal('7300.00')),
 (112, 'Finance', Decimal('7800.00'), Decimal('7466.67')),
 (110, 'Finance', Decimal('8200.00'), Decimal('7650.00')),
 (109, 'Finance', Decimal('9000.00'), Decimal('7920.00')),
 (108, 'Finance', Decimal('12000.00'), Decimal('8600.00')),
 (205, 'Accounting', Decimal('12000.00'), Decimal('10150.00'))]

In [86]:
%%sql
WITH employee_avg AS (
    SELECT 
        e.employee_id,
        d.department_name,
        e.salary,
        ROUND(AVG(e.salary) OVER (PARTITION BY e.department_id), 2) AS avg_salary_expense
    FROM 
        employees e
    JOIN 
        departments d ON e.department_id = d.department_id
)
SELECT 
    employee_id,
    department_name,
    salary,
    avg_salary_expense
FROM 
    employee_avg
WHERE 
    salary > avg_salary_expense
ORDER BY 
    department_name ASC, 
    salary DESC;

 * postgresql://hr_user:***@localhost:5432/hr_db
   postgresql://retail_user:***@localhost:5432/retail_db
38 rows affected.

[(205, 'Accounting', Decimal('12000.00'), Decimal('10150.00')),
 (100, 'Executive', Decimal('24000.00'), Decimal('19333.33')),
 (108, 'Finance', Decimal('12000.00'), Decimal('8600.00')),
 (109, 'Finance', Decimal('9000.00'), Decimal('8600.00')),
 (103, 'IT', Decimal('9000.00'), Decimal('5760.00')),
 (104, 'IT', Decimal('6000.00'), Decimal('5760.00')),
 (201, 'Marketing', Decimal('13000.00'), Decimal('9500.00')),
 (114, 'Purchasing', Decimal('11000.00'), Decimal('4150.00')),
 (145, 'Sales', Decimal('14000.00'), Decimal('8955.88')),
 (146, 'Sales', Decimal('13500.00'), Decimal('8955.88')),
 (147, 'Sales', Decimal('12000.00'), Decimal('8955.88')),
 (168, 'Sales', Decimal('11500.00'), Decimal('8955.88')),
 (148, 'Sales', Decimal('11000.00'), Decimal('8955.88')),
 (174, 'Sales', Decimal('11000.00'), Decimal('8955.88')),
 (162, 'Sales', Decimal('10500.00'), Decimal('8955.88')),
 (149, 'Sales', Decimal('10500.00'), Decimal('8955.88')),
 (150, 'Sales', Decimal('10000.00'), Decimal('8955.88')),
 (156, 'Sales', Decimal('10000.00'), Decimal('8955.88')),
 (169, 'Sales', Decimal('10000.00'), Decimal('8955.88')),
 (170, 'Sales', Decimal('9600.00'), Decimal('8955.88')),
 (151, 'Sales', Decimal('9500.00'), Decimal('8955.88')),
 (157, 'Sales', Decimal('9500.00'), Decimal('8955.88')),
 (163, 'Sales', Decimal('9500.00'), Decimal('8955.88')),
 (152, 'Sales', Decimal('9000.00'), Decimal('8955.88')),
 (158, 'Sales', Decimal('9000.00'), Decimal('8955.88')),
 (121, 'Shipping', Decimal('8200.00'), Decimal('3475.56')),
 (120, 'Shipping', Decimal('8000.00'), Decimal('3475.56')),
 (122, 'Shipping', Decimal('7900.00'), Decimal('3475.56')),
 (123, 'Shipping', Decimal('6500.00'), Decimal('3475.56')),
 (124, 'Shipping', Decimal('5800.00'), Decimal('3475.56')),
 (184, 'Shipping', Decimal('4200.00'), Decimal('3475.56')),
 (185, 'Shipping', Decimal('4100.00'), Decimal('3475.56')),
 (192, 'Shipping', Decimal('4000.00'), Decimal('3475.56')),
 (193, 'Shipping', Decimal('3900.00'), Decimal('3475.56')),
 (188, 'Shipping', Decimal('3800.00'), Decimal('3475.56')),
 (137, 'Shipping', Decimal('3600.00'), Decimal('3475.56')),
 (189, 'Shipping', Decimal('3600.00'), Decimal('3475.56')),
 (141, 'Shipping', Decimal('3500.00'), Decimal('3475.56'))]

### Exercise 2
Get cumulative salary with in each department for Finance and IT department along with department name.

Use HR database employees and department tables for this problem.

Compute cumulative salary expense for Finance as well as IT departments with in respective departments.

Make sure cumulative salary expense per department is rounded off to 2 decimals.

Output should contain employee_id, department_name, salary and cum_salary_expense (derived field).

Data should be sorted in ascending order by department_name and then salary.

In [102]:
%%sql
SELECT e.employee_id, d.department_name, e.salary, 
    round(sum(e.salary) OVER (PARTITION BY d.department_name ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW),2) cum_salary_expense
FROM 
    employees e JOIN departments d on e.department_id = d.department_id
WHERE 
    d.department_name IN ('Finance','IT')
ORDER BY d.department_name, e.salary LIMIT 10

 * postgresql://hr_user:***@localhost:5432/hr_db
   postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(113, 'Finance', Decimal('6900.00'), Decimal('6900.00')),
 (111, 'Finance', Decimal('7700.00'), Decimal('43800.00')),
 (112, 'Finance', Decimal('7800.00'), Decimal('51600.00')),
 (110, 'Finance', Decimal('8200.00'), Decimal('36100.00')),
 (109, 'Finance', Decimal('9000.00'), Decimal('27900.00')),
 (108, 'Finance', Decimal('12000.00'), Decimal('18900.00')),
 (107, 'IT', Decimal('4200.00'), Decimal('19800.00')),
 (105, 'IT', Decimal('4800.00'), Decimal('10800.00')),
 (106, 'IT', Decimal('4800.00'), Decimal('15600.00')),
 (104, 'IT', Decimal('6000.00'), Decimal('6000.00'))]

### Exercise 3
Get top 3 paid employees with in each department by salary (use dense_rank)

Use HR database employees and department tables for this problem.

Highest paid employee should be ranked first.

Output should contain employee_id, department_id, department_name, salary and employee_rank (derived field).

Data should be sorted in ascending order by department_id in ascending order and then salary in descending order.

In [108]:
%%sql
WITH CTE AS 
(SELECT e.employee_id, e.department_id, d.department_name, e.salary, 
    dense_rank() OVER (PARTITION BY d.department_name ORDER BY e.salary DESC) employee_rank
FROM 
    employees e JOIN departments d on e.department_id = d.department_id
ORDER BY 
    e.department_id, e.salary DESC)

SELECT 
    employee_id, 
    department_id, 
    department_name, 
    salary, 
    employee_rank
FROM 
    CTE
WHERE 
    employee_rank < 4
ORDER BY 
    department_id, 
    salary DESC;

 * postgresql://hr_user:***@localhost:5432/hr_db
   postgresql://retail_user:***@localhost:5432/retail_db
26 rows affected.

[(200, 10, 'Administration', Decimal('4400.00'), 1),
 (201, 20, 'Marketing', Decimal('13000.00'), 1),
 (202, 20, 'Marketing', Decimal('6000.00'), 2),
 (114, 30, 'Purchasing', Decimal('11000.00'), 1),
 (115, 30, 'Purchasing', Decimal('3100.00'), 2),
 (116, 30, 'Purchasing', Decimal('2900.00'), 3),
 (203, 40, 'Human Resources', Decimal('6500.00'), 1),
 (121, 50, 'Shipping', Decimal('8200.00'), 1),
 (120, 50, 'Shipping', Decimal('8000.00'), 2),
 (122, 50, 'Shipping', Decimal('7900.00'), 3),
 (103, 60, 'IT', Decimal('9000.00'), 1),
 (104, 60, 'IT', Decimal('6000.00'), 2),
 (106, 60, 'IT', Decimal('4800.00'), 3),
 (105, 60, 'IT', Decimal('4800.00'), 3),
 (204, 70, 'Public Relations', Decimal('10000.00'), 1),
 (145, 80, 'Sales', Decimal('14000.00'), 1),
 (146, 80, 'Sales', Decimal('13500.00'), 2),
 (147, 80, 'Sales', Decimal('12000.00'), 3),
 (100, 90, 'Executive', Decimal('24000.00'), 1),
 (101, 90, 'Executive', Decimal('17000.00'), 2),
 (102, 90, 'Executive', Decimal('17000.00'), 2),
 (108, 100, 'Finance', Decimal('12000.00'), 1),
 (109, 100, 'Finance', Decimal('9000.00'), 2),
 (110, 100, 'Finance', Decimal('8200.00'), 3),
 (205, 110, 'Accounting', Decimal('12000.00'), 1),
 (206, 110, 'Accounting', Decimal('8300.00'), 2)]

### Exercise 4
Get top 3 products sold in the month of 2014 January by revenue.

Use retail database tables such as orders, order_items and products.

Consider only those orders which are either in COMPLETE or CLOSED status.

Highest revenue generating product should come at top.

Output should contain product_id, product_name, revenue, product_rank. revenue and product_rank are derived fields.

Data should be sorted in descending order by revenue.

In [110]:
%load_ext sql
%sql postgresql://retail_user:retail_password@localhost:5432/retail_db
%sql SELECT current_database()

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
   postgresql://hr_user:***@localhost:5432/hr_db
 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[('retail_db',)]

In [121]:
%%sql
SELECT p.product_id, p.product_name, 
    round(SUM(oi.order_item_subtotal) OVER (PARTITION BY product_id),2) revenue_r,
    dense_rank() OVER (PARTITION BY product_id ORDER BY oi.order_item_subtotal DESC) product_rank
FROM products p 
JOIN order_items oi ON p.product_id = oi.order_item_product_id 
JOIN orders o ON oi.order_item_order_id = o.order_id LIMIT 10

   postgresql://hr_user:***@localhost:5432/hr_db
 * postgresql://retail_user:***@localhost:5432/retail_db
(psycopg2.errors.UndefinedFunction) function round(double precision, integer) does not exist
LINE 2:     round(SUM(oi.order_item_subtotal) OVER (PARTITION BY pro...
            ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT p.product_id, p.product_name,
    round(SUM(oi.order_item_subtotal) OVER (PARTITION BY product_id),2) revenue_r,
    dense_rank() OVER (PARTITION BY product_id ORDER BY oi.order_item_subtotal DESC) product_rank
FROM products p
JOIN order_items oi ON p.product_id = oi.order_item_product_id
JOIN orders o ON oi.order_item_order_id = o.order_id LIMIT 10]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [123]:
%%sql
SELECT 
    p.product_id, 
    p.product_name, 
    ROUND(SUM(oi.order_item_subtotal) OVER (PARTITION BY p.product_id)::numeric, 2) AS revenue_r,
    DENSE_RANK() OVER (ORDER BY SUM(oi.order_item_subtotal) OVER (PARTITION BY p.product_id) DESC) AS product_rank
FROM 
    products p 
JOIN 
    order_items oi ON p.product_id = oi.order_item_product_id 
JOIN 
    orders o ON oi.order_item_order_id = o.order_id 
ORDER BY 
    revenue_r DESC 
LIMIT 10;

   postgresql://hr_user:***@localhost:5432/hr_db
 * postgresql://retail_user:***@localhost:5432/retail_db
(psycopg2.errors.WindowingError) window functions are not allowed in window definitions
LINE 5:     DENSE_RANK() OVER (ORDER BY SUM(oi.order_item_subtotal) ...
                                        ^

[SQL: SELECT
    p.product_id,
    p.product_name,
    ROUND(SUM(oi.order_item_subtotal) OVER (PARTITION BY p.product_id)::numeric, 2) AS revenue_r,
    DENSE_RANK() OVER (ORDER BY SUM(oi.order_item_subtotal) OVER (PARTITION BY p.product_id) DESC) AS product_rank
FROM
    products p
JOIN
    order_items oi ON p.product_id = oi.order_item_product_id
JOIN
    orders o ON oi.order_item_order_id = o.order_id
ORDER BY
    revenue_r DESC
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [126]:
%%sql
SELECT 
    p.product_id, 
    p.product_name, 
    ROUND(SUM(oi.order_item_subtotal)::numeric, 2) AS revenue,
    DENSE_RANK() OVER (ORDER BY SUM(oi.order_item_subtotal) DESC) AS product_rank
FROM 
    orders o
JOIN 
    order_items oi ON o.order_id = oi.order_item_order_id
JOIN 
    products p ON oi.order_item_product_id = p.product_id
WHERE 
    o.order_status IN ('COMPLETE', 'CLOSED')
    AND o.order_date >= '2014-01-01' 
    AND o.order_date < '2014-02-01'
GROUP BY 
    p.product_id, p.product_name
ORDER BY 
    revenue DESC
LIMIT 3;

   postgresql://hr_user:***@localhost:5432/hr_db
 * postgresql://retail_user:***@localhost:5432/retail_db
3 rows affected.

[(1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('250787.46'), 1),
 (365, 'Perfect Fitness Perfect Rip Deck', Decimal('151474.75'), 2),
 (957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('148190.12'), 3)]

In [133]:
%%sql
WITH RevenueCTE AS (
    SELECT 
        p.product_id, 
        p.product_name, 
        SUM(oi.order_item_subtotal) AS total_revenue
    FROM 
        orders o
    JOIN 
        order_items oi ON o.order_id = oi.order_item_order_id
    JOIN 
        products p ON oi.order_item_product_id = p.product_id
    WHERE 
        o.order_status IN ('COMPLETE', 'CLOSED')
        AND o.order_date >= '2014-01-01' 
        AND o.order_date < '2014-02-01'
    GROUP BY 
        p.product_id, p.product_name
),
RankedProducts AS (
    SELECT 
        product_id, 
        product_name, 
        ROUND(total_revenue::numeric, 2) AS revenue,
        DENSE_RANK() OVER (ORDER BY total_revenue DESC) AS product_rank
    FROM 
        RevenueCTE
)

SELECT 
    product_id, 
    product_name, 
    revenue,
    product_rank
FROM 
    RankedProducts
WHERE 
    product_rank <= 3
ORDER BY 
    revenue DESC;

   postgresql://hr_user:***@localhost:5432/hr_db
 * postgresql://retail_user:***@localhost:5432/retail_db
3 rows affected.

[(1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('250787.46'), 1),
 (365, 'Perfect Fitness Perfect Rip Deck', Decimal('151474.75'), 2),
 (957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('148190.12'), 3)]

In [135]:
%%sql
WITH RevenueCTE AS (
    SELECT 
        p.product_id, 
        p.product_name, 
        ROUND(SUM(oi.order_item_subtotal)::numeric, 2) AS revenue
    FROM 
        orders o
    JOIN 
        order_items oi ON o.order_id = oi.order_item_order_id
    JOIN 
        products p ON oi.order_item_product_id = p.product_id
    WHERE 
        o.order_status IN ('COMPLETE', 'CLOSED')
        AND o.order_date >= '2014-01-01' 
        AND o.order_date < '2014-02-01'
    GROUP BY 
        p.product_id, p.product_name
)

SELECT 
    product_id, 
    product_name, 
    revenue,
    DENSE_RANK() OVER (ORDER BY revenue DESC) AS product_rank
FROM 
    RevenueCTE
ORDER BY 
    revenue DESC
LIMIT 10;

   postgresql://hr_user:***@localhost:5432/hr_db
 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(1004, 'Field & Stream Sportsman 16 Gun Fire Safe', Decimal('250787.46'), 1),
 (365, 'Perfect Fitness Perfect Rip Deck', Decimal('151474.75'), 2),
 (957, "Diamondback Women's Serene Classic Comfort Bi", Decimal('148190.12'), 3),
 (191, "Nike Men's Free 5.0+ Running Shoe", Decimal('132286.77'), 4),
 (502, "Nike Men's Dri-FIT Victory Golf Polo", Decimal('114800.00'), 5),
 (1073, 'Pelican Sunstream 100 Kayak', Decimal('113194.34'), 6),
 (403, "Nike Men's CJ Elite 2 TD Football Cleat", Decimal('107631.72'), 7),
 (1014, "O'Brien Men's Neoprene Life Vest", Decimal('100309.86'), 8),
 (627, "Under Armour Girls' Toddler Spine Surge Runni", Decimal('38990.25'), 9),
 (565, 'adidas Youth Germany Black/Red Away Match Soc', Decimal('3850.00'), 10)]

### Get top 3 products sold in the month of 2014 January under selected categories by revenue. The categories are Cardio Equipment and Strength Training.

Use retail database tables such as orders, order_items, products as well as categories.

Consider only those orders which are either in COMPLETE or CLOSED status.

Highest revenue generating product should come at top.

Output should contain category_id, category_name, product_id, product_name, revenue, product_rank. revenue and product_rank are derived fields.

Data should be sorted in ascending order by category_id and descending order by revenue.

In [136]:
%%sql
WITH RevenueCTE AS (
    SELECT 
        c.category_id,
        c.category_name,
        p.product_id, 
        p.product_name, 
        ROUND(SUM(oi.order_item_subtotal)::numeric, 2) AS revenue
    FROM 
        orders o
    JOIN 
        order_items oi ON o.order_id = oi.order_item_order_id
    JOIN 
        products p ON oi.order_item_product_id = p.product_id
    JOIN 
        categories c ON p.product_category_id = c.category_id
    WHERE 
        o.order_status IN ('COMPLETE', 'CLOSED')
        AND o.order_date >= '2014-01-01' 
        AND o.order_date < '2014-02-01'
        AND c.category_name IN ('Cardio Equipment', 'Strength Training')
    GROUP BY 
        c.category_id, c.category_name, p.product_id, p.product_name
),

RankedProducts AS (
    SELECT 
        category_id, 
        category_name, 
        product_id, 
        product_name, 
        revenue,
        DENSE_RANK() OVER (PARTITION BY category_id ORDER BY revenue DESC) AS product_rank
    FROM 
        RevenueCTE
)

SELECT 
    category_id, 
    category_name, 
    product_id, 
    product_name, 
    revenue, 
    product_rank
FROM 
    RankedProducts
WHERE 
    product_rank <= 3
ORDER BY 
    category_id ASC, 
    revenue DESC;

   postgresql://hr_user:***@localhost:5432/hr_db
 * postgresql://retail_user:***@localhost:5432/retail_db
5 rows affected.

[(9, 'Cardio Equipment', 191, "Nike Men's Free 5.0+ Running Shoe", Decimal('132286.77'), 1),
 (9, 'Cardio Equipment', 172, "Nike Women's Tempo Shorts", Decimal('870.00'), 2),
 (10, 'Strength Training', 208, 'SOLE E35 Elliptical', Decimal('1999.99'), 1),
 (10, 'Strength Training', 203, 'GoPro HERO3+ Black Edition Camera', Decimal('1199.97'), 2),
 (10, 'Strength Training', 216, 'Yakima DoubleDown Ace Hitch Mount 4-Bike Rack', Decimal('189.00'), 3)]