https://github.com/dgadiraju/retail_db

## Entity Relatonship Diagram

![Image Title](cloudera-retail-db.png)

In [ ]:
CREATE DATABASE retail_db;
CREATE USER retail_user WITH ENCRYPTED PASSWORD 'retail_password';
GRANT ALL ON DATABASE retail_db TO retail_user;

In [1]:
%load_ext sql

In [2]:
%sql postgresql://retail_user:retail_password@localhost:5432/retail_db

In [3]:
%sql SELECT current_database()

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[('retail_db',)]

In [4]:
%%sql

SELECT * FROM information_schema.tables 
WHERE table_catalog = 'retail_db' 
    AND table_schema = 'public' 
LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
6 rows affected.

[('retail_db', 'public', 'departments', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'categories', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'products', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'customers', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'orders', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('retail_db', 'public', 'order_items', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [5]:
%sql SELECT * FROM orders LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]

In [6]:
%sql SELECT count(1) FROM orders

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(68883,)]

In [8]:
%sql SELECT count(1) FROM products

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(1345,)]

In [9]:
%sql SELECT * FROM orders LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]

In [9]:
%%sql 

SELECT * FROM information_schema.columns 
WHERE table_catalog = 'retail_db' 
    AND table_name = 'orders'

 * postgresql://retail_user:***@localhost:5432/retail_db
4 rows affected.

[('retail_db', 'public', 'orders', 'order_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'orders', 'order_date', 2, None, 'NO', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'timestamp', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'orders', 'order_customer_id', 3, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'int4', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('retail_db', 'public', 'orders', 'order_status', 4, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'retail_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [10]:
%sql SELECT order_customer_id, order_date, order_status FROM orders LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(11599, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED'),
 (256, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT'),
 (12111, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (8827, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED'),
 (11318, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (7130, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (4530, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (2911, datetime.datetime(2013, 7, 25, 0, 0), 'PROCESSING'),
 (5657, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT'),
 (5648, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT')]

In [11]:
%sql SELECT order_customer_id, to_char(order_date, ('yyyy-MM')), order_status FROM orders LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(11599, '2013-07', 'CLOSED'),
 (256, '2013-07', 'PENDING_PAYMENT'),
 (12111, '2013-07', 'COMPLETE'),
 (8827, '2013-07', 'CLOSED'),
 (11318, '2013-07', 'COMPLETE'),
 (7130, '2013-07', 'COMPLETE'),
 (4530, '2013-07', 'COMPLETE'),
 (2911, '2013-07', 'PROCESSING'),
 (5657, '2013-07', 'PENDING_PAYMENT'),
 (5648, '2013-07', 'PENDING_PAYMENT')]

In [13]:
%sql SELECT order_customer_id, to_char(order_date,'yyyy-MM') AS order_month, order_status FROM orders LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(11599, '2013-07', 'CLOSED'),
 (256, '2013-07', 'PENDING_PAYMENT'),
 (12111, '2013-07', 'COMPLETE'),
 (8827, '2013-07', 'CLOSED'),
 (11318, '2013-07', 'COMPLETE'),
 (7130, '2013-07', 'COMPLETE'),
 (4530, '2013-07', 'COMPLETE'),
 (2911, '2013-07', 'PROCESSING'),
 (5657, '2013-07', 'PENDING_PAYMENT'),
 (5648, '2013-07', 'PENDING_PAYMENT')]

In [14]:
%sql SELECT to_char(order_date, 'yyyy-MM') AS order_month FROM orders LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[('2013-07',),
 ('2013-07',),
 ('2013-07',),
 ('2013-07',),
 ('2013-07',),
 ('2013-07',),
 ('2013-07',),
 ('2013-07',),
 ('2013-07',),
 ('2013-07',)]

In [16]:
%sql SELECT count(DISTINCT (to_char(order_date, 'yyyy-MM'))) distinct_orders From orders

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(13,)]

## WHERE CLAUSE

In [18]:
%sql SELECT * FROM orders WHERE order_status = 'COMPLETE' LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (15, datetime.datetime(2013, 7, 25, 0, 0), 2568, 'COMPLETE'),
 (17, datetime.datetime(2013, 7, 25, 0, 0), 2667, 'COMPLETE'),
 (22, datetime.datetime(2013, 7, 25, 0, 0), 333, 'COMPLETE'),
 (26, datetime.datetime(2013, 7, 25, 0, 0), 7562, 'COMPLETE'),
 (28, datetime.datetime(2013, 7, 25, 0, 0), 656, 'COMPLETE'),
 (32, datetime.datetime(2013, 7, 25, 0, 0), 3960, 'COMPLETE')]

In [19]:
%sql SELECT count(1) FROM orders

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(68883,)]

In [21]:
%sql SELECT count(1) FROM orders WHERE order_status = 'COMPLETE'

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(22899,)]

In [22]:
%sql SELECT DISTINCT order_status FROM orders

 * postgresql://retail_user:***@localhost:5432/retail_db
9 rows affected.

[('COMPLETE',),
 ('ON_HOLD',),
 ('PENDING_PAYMENT',),
 ('PENDING',),
 ('CLOSED',),
 ('CANCELED',),
 ('PROCESSING',),
 ('PAYMENT_REVIEW',),
 ('SUSPECTED_FRAUD',)]

In [24]:
%sql SELECT * FROM orders WHERE order_status IN ('COMPLETE', 'CLOSED') LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (12, datetime.datetime(2013, 7, 25, 0, 0), 1837, 'CLOSED'),
 (15, datetime.datetime(2013, 7, 25, 0, 0), 2568, 'COMPLETE'),
 (17, datetime.datetime(2013, 7, 25, 0, 0), 2667, 'COMPLETE'),
 (18, datetime.datetime(2013, 7, 25, 0, 0), 1205, 'CLOSED')]

In [26]:
%sql SELECT COUNT(1) FROM orders WHERE order_status IN ('COMPLETE', 'CLOSED')

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(30455,)]

In [29]:
%sql SELECT COUNT(1) FROM orders WHERE order_status = 'COMPLETE' OR order_status = 'CLOSED'

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(30455,)]

In [32]:
%sql SELECT * FROM orders WHERE order_date LIKE '%2024%' LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
(psycopg2.errors.UndefinedFunction) operator does not exist: timestamp without time zone ~~ unknown
LINE 1: SELECT * FROM orders WHERE order_date LIKE '%2024%' LIMIT 10
                                              ^
HINT:  No operator matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT * FROM orders WHERE order_date LIKE '%%2024%%' LIMIT 10]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [36]:
%sql SELECT * FROM orders WHERE to_char(order_date,'yyyy-mm-dd') LIKE '%2013%' LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]

In [41]:
%%sql 
SELECT count(1) FROM orders 
WHERE order_status IN ('COMPLETE','CLOSED') 
    AND to_char(order_date, 'yyyy-MM-dd') LIKE '%2014-01'

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(2544,)]

In [38]:
%%sql

SELECT count(1) FROM orders 
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM-dd') LIKE '2014-01%'

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(2544,)]

In [44]:
%%sql
SELECT * FROM orders
WHERE order_status IN ('COMPLETE','CLOSED')
    AND to_char(order_date,'yyyy-mm') = '2014-01' LIMIT 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(25882, datetime.datetime(2014, 1, 1, 0, 0), 4598, 'COMPLETE'),
 (25888, datetime.datetime(2014, 1, 1, 0, 0), 6735, 'COMPLETE'),
 (25889, datetime.datetime(2014, 1, 1, 0, 0), 10045, 'COMPLETE'),
 (25891, datetime.datetime(2014, 1, 1, 0, 0), 3037, 'CLOSED'),
 (25895, datetime.datetime(2014, 1, 1, 0, 0), 1044, 'COMPLETE'),
 (25897, datetime.datetime(2014, 1, 1, 0, 0), 6405, 'COMPLETE'),
 (25898, datetime.datetime(2014, 1, 1, 0, 0), 3950, 'COMPLETE'),
 (25899, datetime.datetime(2014, 1, 1, 0, 0), 8068, 'CLOSED'),
 (25900, datetime.datetime(2014, 1, 1, 0, 0), 2382, 'CLOSED'),
 (25901, datetime.datetime(2014, 1, 1, 0, 0), 3099, 'COMPLETE')]

In [45]:
%%sql
SELECT count(1) FROM orders
WHERE order_status IN ('COMPLETE','CLOSED')
 AND to_char(order_date, 'yyyy-mm') = '2014-01'

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(2544,)]

In [46]:
%%sql
SELECT count(1) FROM orders
WHERE order_status IN ('COMPLETE','CLOSED')
 AND to_char(order_date, 'yyyy-mm') ~ '2014-01'

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(2544,)]

In [47]:
%%sql
SELECT count(1), min(order_date), max(order_date), count(DISTINCT order_date) FROM orders
WHERE order_status IN ('COMPLETE','CLOSED') 
AND order_date  BETWEEN '2014-01-01' AND '2014-03-31'

 * postgresql://retail_user:***@localhost:5432/retail_db
1 rows affected.

[(7594, datetime.datetime(2014, 1, 1, 0, 0), datetime.datetime(2014, 3, 31, 0, 0), 89)]

In [48]:
%%sql
SELECT DISTINCT order_date FROM orders
WHERE to_char(order_date, 'yyyy-mm-dd') LIKE '2014-03%'
ORDER BY order_date

 * postgresql://retail_user:***@localhost:5432/retail_db
30 rows affected.

[(datetime.datetime(2014, 3, 1, 0, 0),),
 (datetime.datetime(2014, 3, 2, 0, 0),),
 (datetime.datetime(2014, 3, 3, 0, 0),),
 (datetime.datetime(2014, 3, 4, 0, 0),),
 (datetime.datetime(2014, 3, 5, 0, 0),),
 (datetime.datetime(2014, 3, 6, 0, 0),),
 (datetime.datetime(2014, 3, 7, 0, 0),),
 (datetime.datetime(2014, 3, 8, 0, 0),),
 (datetime.datetime(2014, 3, 10, 0, 0),),
 (datetime.datetime(2014, 3, 11, 0, 0),),
 (datetime.datetime(2014, 3, 12, 0, 0),),
 (datetime.datetime(2014, 3, 13, 0, 0),),
 (datetime.datetime(2014, 3, 14, 0, 0),),
 (datetime.datetime(2014, 3, 15, 0, 0),),
 (datetime.datetime(2014, 3, 16, 0, 0),),
 (datetime.datetime(2014, 3, 17, 0, 0),),
 (datetime.datetime(2014, 3, 18, 0, 0),),
 (datetime.datetime(2014, 3, 19, 0, 0),),
 (datetime.datetime(2014, 3, 20, 0, 0),),
 (datetime.datetime(2014, 3, 21, 0, 0),),
 (datetime.datetime(2014, 3, 22, 0, 0),),
 (datetime.datetime(2014, 3, 23, 0, 0),),
 (datetime.datetime(2014, 3, 24, 0, 0),),
 (datetime.datetime(2014, 3, 25, 0, 0),),
 (datetime.datetime(2014, 3, 26, 0, 0),),
 (datetime.datetime(2014, 3, 27, 0, 0),),
 (datetime.datetime(2014, 3, 28, 0, 0),),
 (datetime.datetime(2014, 3, 29, 0, 0),),
 (datetime.datetime(2014, 3, 30, 0, 0),),
 (datetime.datetime(2014, 3, 31, 0, 0),)]