In [1]:
pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.10.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython-sql) (8.23.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.29-cp312-cp312-macosx_11_0_arm64.whl.metadata (9.6 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.0-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Collecting typing-extensions>=4.6.0 (from sqlalchemy>=2.0->ipython-sql)
  Downloading typing_extensions-4.11.0-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: decorator in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.2)
Requirement already satisfied: pexpect>4.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.29-cp312-cp312-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 1.8 MB/s eta 0:00:0000:0100:01
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.10.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.0-py3-none-any.whl (43 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.0/44.0 kB 1.8 MB/s eta 0:00:00
Downloading typing_extensions-4.11.0-py3-none-any.whl (34 kB)
Installing collected packages: ipython-genutils, typing-extensions, sqlparse, prettytable, sqlalchemy, ipython-sql
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.10.0 sqlalchemy-2.0.29 sqlparse-0.5.0 typing-extensions-4.11.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 5.5 MB/s eta 0:00:00a 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (pyproject.toml) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp312-cp312-macosx_10_9_universal2.whl size=243638 sha256=6004062b38a8b6441e9669a1b5b299130a53fcefea729b8538c58c6ca8679566
  Stored in directory: /Users/aslam/Library/Caches/pip/wheels/ff/ac/80/7ccec163e3d05ae2112311b895132409b9abfd7e0c1c6b5183
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%env

{'__CFBundleIdentifier': 'com.apple.Terminal',
 'TMPDIR': '/var/folders/5x/n4w3vgw91t58qgdqqjkjx0fh0000gn/T/',
 'XPC_FLAGS': '0x0',
 'TERM': 'xterm-color',
 'SSH_AUTH_SOCK': '/private/tmp/com.apple.launchd.hxx931xUKO/Listeners',
 'XPC_SERVICE_NAME': '0',
 'TERM_PROGRAM': 'Apple_Terminal',
 'TERM_PROGRAM_VERSION': '453',
 'TERM_SESSION_ID': '59B67AD4-D67F-4980-A4E0-2ABC0F36518C',
 'SHELL': '/bin/zsh',
 'HOME': '/Users/aslam',
 'LOGNAME': 'aslam',
 'USER': 'aslam',
 'PATH': '/Applications/Postgres.app/Contents/Versions/15/bin:/opt/homebrew/opt/postgresql@15/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/Library/Frameworks/Python.framework/Versions/3.12/bin:/usr/local/bin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin',
 'SHLVL': '1',
 'PWD': '/Users/aslam',
 'OLDPWD': '/Users/aslam',
 'HOMEBREW_PREFIX': '/opt/homebrew',
 'HOMEBREW_CELLAR': '/opt/homebrew/Cellar',
 'HOMEBREW_REPOSITORY': '/opt/homebrew',
 'MANPATH': '/opt/homebrew/share/man::',
 'INFOPATH': '/opt/homebrew/share/info:',
 'LC_CTYPE': 'UTF-8',
 '_': '/Library/Frameworks/Python.framework/Versions/3.12/bin/jupyter',
 '__CF_USER_TEXT_ENCODING': '0x1F5:0x0:0x0',
 'JPY_SESSION_NAME': '/Users/aslam/github-portfolio/Untitled.ipynb',
 'JPY_PARENT_PID': '3992',
 'PYDEVD_USE_FRAME_EVAL': 'NO',
 'CLICOLOR': '1',
 'FORCE_COLOR': '1',
 'CLICOLOR_FORCE': '1',
 'PAGER': 'cat',
 'GIT_PAGER': 'cat',
 'MPLBACKEND': 'module://matplotlib_inline.backend_inline'}

In [12]:
%sql postgresql://aslam:Sustain%402023@localhost:5432/aslam

In [13]:
%sql SELECT * FROM information_schema.tables LIMIT 10

 * postgresql://aslam:***@localhost:5432/aslam
10 rows affected.

[('aslam', 'pg_catalog', 'pg_statistic', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('aslam', 'pg_catalog', 'pg_type', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('aslam', 'pg_catalog', 'pg_foreign_table', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('aslam', 'pg_catalog', 'pg_authid', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('aslam', 'pg_catalog', 'pg_shadow', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('aslam', 'pg_catalog', 'pg_roles', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('aslam', 'pg_catalog', 'pg_statistic_ext_data', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('aslam', 'pg_catalog', 'pg_settings', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('aslam', 'pg_catalog', 'pg_file_settings', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('aslam', 'pg_catalog', 'pg_hba_file_rules', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)]

In [14]:
%sql SELECT * FROM t

 * postgresql://aslam:***@localhost:5432/aslam
0 rows affected.

[]

In [15]:
%sql TRUNCATE TABLE users

 * postgresql://aslam:***@localhost:5432/aslam
Done.

[]

In [23]:
%sql DROP TABLE users

 * postgresql://aslam:***@localhost:5432/aslam
Done.

[]

In [26]:
%%sql
CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    is_active BOOLEAN DEFAULT FALSE,
    created_dt DATE DEFAULT CURRENT_DATE
);

 * postgresql://aslam:***@localhost:5432/aslam
Done.

[]

In [27]:
%%sql
INSERT INTO users (user_first_name, user_last_name, user_email_id) VALUES ('scott', 'Tiger', 'scott@tiger.com')

 * postgresql://aslam:***@localhost:5432/aslam
1 rows affected.

[]

In [28]:
%%sql
INSERT INTO users(user_first_name, user_last_name, user_email_id) VALUES ('Donald','Duck','donald@duck.com')

 * postgresql://aslam:***@localhost:5432/aslam
1 rows affected.

[]

In [55]:
%%sql
SELECT * FROM users

 * postgresql://aslam:***@localhost:5432/aslam
6 rows affected.

[(2, 'Donald', 'Duck', 'donald@duck.com', True, None, 'U', True, datetime.date(2024, 4, 22), 'DONALD DUCK'),
 (3, 'Mickey', 'Mouse', 'mickey@mouse.com', True, None, 'U', True, datetime.date(2024, 4, 26), 'MICKEY MOUSE'),
 (4, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', True, 'h9LAz7p7ub', 'U', True, datetime.date(2024, 4, 26), 'GORDAN BRADOCK'),
 (5, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', True, 'oEofndp', 'U', True, datetime.date(2024, 4, 26), 'TOBE LYNESS'),
 (6, 'Addie', 'Mesias', 'amesias2@twitpic.com', True, 'ih7Y69u56', 'U', True, datetime.date(2024, 4, 26), 'ADDIE MESIAS'),
 (1, 'scott', 'Tiger', 'scott@tiger.com', True, None, 'A', True, datetime.date(2024, 4, 22), 'SCOTT TIGER')]

In [31]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id, user_role, is_active)
VALUES ('Mickey', 'Mouse', 'mickey@mouse.com', 'U', true)

 * postgresql://aslam:***@localhost:5432/aslam
1 rows affected.

[]

In [33]:
%%sql

INSERT INTO users 
    (user_first_name, user_last_name, user_email_id, user_password, user_role, is_active) 
VALUES 
    ('Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub', 'U', true),
    ('Tobe', 'Lyness', 'tlyness1@paginegialle.it', 'oEofndp', 'U', true),
    ('Addie', 'Mesias', 'amesias2@twitpic.com', 'ih7Y69u56', 'U', true)

 * postgresql://aslam:***@localhost:5432/aslam
3 rows affected.

[]

In [36]:
%%sql
UPDATE users
SET user_role = 'A'
WHERE user_id = 1

 * postgresql://aslam:***@localhost:5432/aslam
1 rows affected.

[]

In [39]:
%%sql
UPDATE users
SET user_email_validated = 'true',
is_active = 'true'

 * postgresql://aslam:***@localhost:5432/aslam
6 rows affected.

[]

In [45]:
%%sql

ALTER TABLE users ADD COLUMN user_full_name VARCHAR(50)

 * postgresql://aslam:***@localhost:5432/aslam
Done.

[]

In [47]:
%sql SELECT concat(user_first_name, ' ', user_last_name) FROM USERS

 * postgresql://aslam:***@localhost:5432/aslam
6 rows affected.

[('Donald Duck',),
 ('Mickey Mouse',),
 ('Gordan Bradock',),
 ('Tobe Lyness',),
 ('Addie Mesias',),
 ('scott Tiger',)]

In [54]:
%%sql 
UPDATE users
 SET user_full_name = upper(concat(user_first_name, ' ', user_last_name))

 * postgresql://aslam:***@localhost:5432/aslam
6 rows affected.

[]

In [58]:
%sql SELECT user_id, user_password FROM users

 * postgresql://aslam:***@localhost:5432/aslam
6 rows affected.

[(2, None),
 (3, None),
 (4, 'h9LAz7p7ub'),
 (5, 'oEofndp'),
 (6, 'ih7Y69u56'),
 (1, None)]

In [59]:
%%sql
DELETE FROM users WHERE user_password IS NULL

 * postgresql://aslam:***@localhost:5432/aslam
3 rows affected.

[]

In [60]:
%sql SELECT user_id,user_password FROM users

 * postgresql://aslam:***@localhost:5432/aslam
3 rows affected.

[(4, 'h9LAz7p7ub'), (5, 'oEofndp'), (6, 'ih7Y69u56')]

In [61]:
%sql SELECT COUNT(1) FROM users

 * postgresql://aslam:***@localhost:5432/aslam
1 rows affected.

[(3,)]

## Assignment

In [63]:
%%sql
CREATE TABLE courses
(course_id SERIAL PRIMARY KEY,
course_name VARCHAR(60) NOT NULL, 
course_author VARCHAR(40) NOT NULL, 
course_status VARCHAR(20) CHECK (course_status IN ('published', 'draft', 'inactive')),
course_published_dt DATE)

 * postgresql://aslam:***@localhost:5432/aslam
Done.

[]

In [80]:
%sql SELECT * FROM courses

 * postgresql://aslam:***@localhost:5432/aslam
12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'published', datetime.date(2020, 7, 15)),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12)),
 (5, 'Programming using Java', 'Elvis Presley', 'published', datetime.date(2020, 8, 10)),
 (6, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (7, 'Web Applications - Java Spring', 'Mike Jack', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30)),
 (11, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5)),
 (8, 'Pipeline Orchestration Python', 'Bob Dillon', 'published', datetime.date(2024, 4, 26))]

In [71]:
%%sql
INSERT INTO courses
(course_name,course_author, course_status, course_published_dt)
VALUES
('Programming using Python', 'Bob Dillon','published','2020-09-30'),
('Data Engineering using Python', 'Bob Dillon','published','2020-07-15')

 * postgresql://aslam:***@localhost:5432/aslam
2 rows affected.

[]

In [73]:
%%sql
INSERT INTO courses
(course_name,course_author, course_status, course_published_dt)
VALUES
('Data Engineering using Scala', 'Elvis Presley','2020-07-15'),
('Programming using Scala', 'Elvis Presley','published','2020-05-12'),
('Programming using Java', 'Elvis Presley','published','2020-08-10'),
('Web Applications - Python Flask', 'Bob Dillon','inactive','2020-07-20'),
('Web Applications - Java Spring', 'Mike Jack','draft',NULL),
('Pipeline Orchestration Python', 'Bob Dillon','draft', NULL),
('Streaming Pipelines - Python', 'Bob Dillon','published','2020-10-05'),
('Web Applications - Scala Play', 'Elvis Presley','inactive','2020-09-30'),
('Web Applications - Python Django', 'Bob Dillon','published','2020-06-23'),
('Server Automation - Ansible', 'Uncle Sam','published','2020-07-05')

 * postgresql://aslam:***@localhost:5432/aslam
(psycopg2.errors.SyntaxError) INSERT has more target columns than expressions
LINE 2: (course_name,course_author, course_status, course_published_...
                                                   ^

[SQL: INSERT INTO courses
(course_name,course_author, course_status, course_published_dt)
VALUES
('Data Engineering using Scala', 'Elvis Presley','2020-07-15'),
('Programming using Scala', 'Elvis Presley','published','2020-05-12'),
('Programming using Java', 'Elvis Presley','published','2020-08-10'),
('Web Applications - Python Flask', 'Bob Dillon','inactive','2020-07-20'),
('Web Applications - Java Spring', 'Mike Jack','draft',NULL),
('Pipeline Orchestration Python', 'Bob Dillon','draft', NULL),
('Streaming Pipelines - Python', 'Bob Dillon','published','2020-10-05'),
('Web Applications - Scala Play', 'Elvis Presley','inactive','2020-09-30'),
('Web Applications - Python Django', 'Bob Dillon','published','2020-06-23'),
('Server Automation - Ansible', 'Uncle Sam','published','2020-07-05')]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [75]:
%%sql
INSERT INTO courses
(course_name, course_author, course_status, course_published_dt)
VALUES
('Data Engineering using Scala', 'Elvis Presley', 'published', '2020-07-15'),
('Programming using Scala', 'Elvis Presley', 'published', '2020-05-12'),
('Programming using Java', 'Elvis Presley', 'published', '2020-08-10'),
('Web Applications - Python Flask', 'Bob Dillon', 'inactive', '2020-07-20'),
('Web Applications - Java Spring', 'Mike Jack', 'draft', NULL),
('Pipeline Orchestration Python', 'Bob Dillon', 'draft', NULL),
('Streaming Pipelines - Python', 'Bob Dillon', 'published', '2020-10-05'),
('Web Applications - Scala Play', 'Elvis Presley', 'inactive', '2020-09-30'),
('Web Applications - Python Django', 'Bob Dillon', 'published', '2020-06-23'),
('Server Automation - Ansible', 'Uncle Sam', 'published', '2020-07-05');

 * postgresql://aslam:***@localhost:5432/aslam
10 rows affected.

[]

## Update the status of all the draft courses related to Python and Scala to published along with the course_published_dt using system date

In [79]:
%%sql
UPDATE courses
SET course_status = 'published',
    course_published_dt = CURRENT_DATE
WHERE course_status = 'draft' AND (course_name LIKE '%Python%' OR course_name LIKE '%Scala%')

 * postgresql://aslam:***@localhost:5432/aslam
1 rows affected.

[]

## Delete all the courses which are neither in draft mode nor published

In [82]:
%%sql
DELETE FROM courses WHERE course_status <> 'published' AND course_status <> 'draft';

 * postgresql://aslam:***@localhost:5432/aslam
2 rows affected.

[]

## Validation - Get count of all published courses by author and make sure output is sorted in descending order by count.

In [85]:
%%sql
SELECT course_author, count(course_author) FROM courses WHERE course_status = 'published' GROUP BY course_author

 * postgresql://aslam:***@localhost:5432/aslam
3 rows affected.

[('Bob Dillon', 5), ('Elvis Presley', 3), ('Uncle Sam', 1)]

In [86]:
%sql SELECT * FROM courses;

 * postgresql://aslam:***@localhost:5432/aslam
10 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'published', datetime.date(2020, 7, 15)),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12)),
 (5, 'Programming using Java', 'Elvis Presley', 'published', datetime.date(2020, 8, 10)),
 (7, 'Web Applications - Java Spring', 'Mike Jack', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (11, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5)),
 (8, 'Pipeline Orchestration Python', 'Bob Dillon', 'published', datetime.date(2024, 4, 26))]